@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway:ital@1&display=swap');

.logo {
     height: 50px;
    }

footer {min-height: 80px;
    background: rgb(30, 45, 109);
    text-align: center;
    color: white;
    padding-top: 35px;
       }

header {    
        background: rgb(30, 45, 109);
        position: fixed;
        width: 100%;
        top: 0;
        padding: 10px 15px 5px 15px;
        }
 body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
 }
 main {
    min-height: 100vh;

 }
 section {
    padding: 90px 15%;

 }

 h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
    font-family: 'Raleway', sans-serif;
 }
 h1 {
   font-size: 230%;
 }
 h2 {
   font-size: 170%;
 }

 * {
   box-sizing: border-box;
 }
 navbar {
   margin-left: 20px;
   margin-bottom: 10px;
   display: inline-block;
   overflow: auto;
 }
 navbar a {
   color:white;
   text-decoration: none;
   margin-right: 20px;
   font-size: 20px;
 }
 navbar a:hover {
   color: #f3deca;
   text-decoration: underline 1px;
 }
 #index {
  background: linear-gradient(#00000054 , #00000054) , url('../images/1.jpg');
  background-size: cover;
  min-height: 100vh;
 }

 .index-info {
    margin-top: 25vh;
    text-align: center;

 }

 .index-info h1 {
      font-size: 350%;
      color: white;
      border: 2px solid gray;
      display: inline-block;
      padding: 20px;
      border-radius: 5px;
      background-color: #1e2c6da2;
 }

 .link-index {
    color: white;
    text-decoration: underline #fa9483 2px;
    font-size: 20px;
 }

 .link-index:hover {
  color: #f3deca;
 }

 .centered {
    text-align: center;
 }


 p {
  line-height: 150%;
  text-indent: 30px;
 }

 li {
  margin-top: 10px;
  padding-left: 15px;
  list-style-image: linear-gradient(#fa9483, #fa9483);
 }

 .vframe {
   width: 100%;
   height: 30vw;
   border: 2px solid #f3deca;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }

 .loc {
    overflow: auto;
    border-bottom: 3px #f3deca dashed;
    margin-bottom: 10px;
 }

 .loc img {
  height: 18vh;
  width: 18vh;
  object-fit: cover;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
 }

 .harta {
      width: 100%;
      height: 40vh;
      border-radius: 5px;
      border: 4px solid #f3deca;
 }

 .row {
   overflow: auto;
 }

 .col-50 {
      width: 50%;
      float: left;
      padding: 0px 10px;
 }

 .contacte, .cform {
  border: 2px solid #f3deca;
  border-radius: 5px;
  background-color: #f3decaad;
  padding: 5px 5%;
  height: 325px;
  margin-bottom: 15px;
 }

 .cform input, .cform textarea {
      width: 100%;
      font-size: 15px;
      font-family: inherit;
      margin-bottom: 10px;
      padding: 4px 6px;

 }

 #hamburger {
  color: white;
  font-size: 27px;
  position: absolute;
  right: 22px;
  top: 24px;
  cursor: pointer;
  display: none;
 }

 @media (max-width: 800px) {

  body {
    font-size: 15px;
  }

  section {
    padding: 90px 10px;
  }

  .col-50 {
    width: 100% !important;

}

  .index-info h1 {
    font-size: 230%;
  }

  .vframe {
    height: 50vw;
  }

  navbar a {
    display: none;
  }

  navbar.mobile a {
    display: block;
    text-align: center;
    margin-top: 12px;
  }

  navbar {
    display: block;
  }
  
  #hamburger {
    display: block;
  }



 }